<button @onclick="@(async _ => await SetValue.InvokeAsync(Value))" >@Value</button>

@code {

    [Parameter]
    public string Value { get; init; } = default;
    
    [Parameter]
    public EventCallback<string> SetValue { get; init; }

}