<button @onclick="@(async _ => await SetOp.InvokeAsync(Op))" >@Op</button>

@code {
    
    [Parameter]
    public string Op { get; init; } = default;
    
    [Parameter]
    public EventCallback<string> SetOp { get; init; }
}