@page "/calculator"
@using WebApp.Components

<PageTitle>Calculator</PageTitle>

<body>


<p>
    <InputDisplay @bind-Input="@InputC"/>
    <ResultDisplay @bind-Result="@Result"/>
</p>

<div>
    <NumberButton Value="0" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="1" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="2" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="3" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="4" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="5" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="6" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="7" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="8" SetValue="HandleClickNumber"></NumberButton>
    <NumberButton Value="9" SetValue="HandleClickNumber"></NumberButton>

    <OparationButton Text="+" Op="+" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="-" Op="-" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="*" Op="*" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="/" Op="d" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="Pow" Op="^" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="Sqrt" Op="R" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="Fac" Op="!" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="Revert" Op="_" SetOp="HandleClickOp"></OparationButton>
    <OparationButton Text="Fak" Op="F" SetOp="HandleClickOp"></OparationButton>


    <button @onclick="Res">=</button>
    <button @onclick="Clear">Clear</button>

    <style>
        button {
            background: gray;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0%;
            padding: 1%;
        }
    </style>


</div>

</body>